/* /* HTML Structure:

		<>
			<div className="chat-room">
				<div>
					{messages && messages.map(msg => <ChatMessage key={msg.id} message={msg} />)}
				</div>
				
				<form onSubmit={sendMessage}>
					<input value={formValue} onChange={(e) => setFormValue(e.target.value)} />
					<button type="submit">Send</button>
				</form>

				<div>
					<SignOut />
				</div>
			</div>
		</>


        ChatMessage:
		<div className={`message ${messageClass}`}>
			<p>{text}</p>
		</div>
*/

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&");


#chat {
	background-color: #222222;
	color: white;
	font-family: "JetBrains Mono", monospace;
	min-width: 60vw;
	max-width: 60vw;
	height: 80vh;
	max-height: 80vh;
}

#messages {
	overflow-y: auto;
	flex: 1;
}


#sticky-input {
	position: fixed;
	width: 100%;
 	background: #222222;
	flex-direction: row;
}

#message-input {
	width: 70%;
	padding: 12px 20px;
	box-sizing: border-box;
	background: #222222;
	border: 1px solid #444;
	color: #fcfcfc;
	font-family: "JetBrains Mono", monospace;
}

#message-input:focus {
	outline: none;
}

#message-submit {
	width: 15%;
	font-family: "JetBrains Mono", monospace;
	background: #444;
	color: #fcfcfc;
	padding-top: .75rem;
	padding-bottom: .75rem;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}

#message-submit:hover {
	background: #555;
	transition: background .5s;
}

#sign-out {
	width: 15%;
	font-family: "JetBrains Mono", monospace;
	background: #444;
	color: #fcfcfc;
	padding-top: .75rem;
	padding-bottom: .75rem;
	margin: 8px 0;
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
	border: none;
	cursor: pointer;
}

#sign-out:hover {
	background: #555;
	transition: background .5s;
}

#chat-room {
	color: white;
	padding-right: 2rem;
	padding-left: 2rem;	
}

.message-photoURL {
	width: 30px;
	height: 30px;
	border-radius: .25rem;
}

.message-text {
	margin-left: .5rem;
}

.message-chatname {
	margin-left: .25rem;
}

.message-sent {
	.message-chatname {
		text-shadow: 0 0 .5rem #00bbff;;
	}
}

.message-received {
	.message-chatname {
		text-shadow: .1rem .1rem .5rem #ff00bb;
	}
}


